<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5"/>
    <compilation targetFramework="4.5.2" debug="true"/>
    <pages validateRequest="true" controlRenderingCompatibilityVersion="4.0"/>
    <httpModules/>
    <customErrors mode="On" redirectMode="ResponseRedirect" defaultRedirect="~/Error.html">
      <error statusCode="404" redirect="~/Error.html"/>
      <error statusCode="500" redirect="~/Error.html"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Main.aspx"/>
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="Error.html" responseMode="File"/>
      <error statusCode="500" prefixLanguageFilePath="" path="Error.html" responseMode="File"/>
    </httpErrors>
  </system.webServer>
  <appSettings>
    <add key="ReportUrl" value="http://oas.stat.ntpc.gov.tw:8000"/>
    <add key="TableauKey" value="TAB"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>